{% extends "base.html" %}

{% block title %}
View Your Cart
{% endblock %}


{% block content %}
<div class="container" v-scope>
    <h2>Shopping Cart</h2>

    {% include 'partials/messages.html' %}

    <div class="row">
        {% for item in cart_items %}
        <div class="row cart-item">
            <div class="col-1">
                <img
                    src="https://via.assets.so/img.jpg?w=75&h=75&bg=e5e7eb&text=Item ID {{item.product.id}}&fontSize=12&f=png" />
            </div>
            <div class="col-8">
                <p>{{item.product.description.replace("\n", "</p><p>")|safe}}</p>
            </div>
            <div class="col-2 text-end">
                Qty: {{item.quantity}} at
                {{item.product.sale_price|currency_fmt}}
                <br />
                <strong>{{((item.product.sale_price|float) * item.quantity)|currency_fmt}}</strong>
            </div>
            <div class="col-1 text-start">
                <form method="POST" action="/cart/remove/{{item.product.slug}}">
                    {{ csrf_input }}
                    <i title='Click to remove item from your cart' class="icon-remove-sign text-danger icon-2x"
                        style="cursor: pointer;color: firebrick;" onclick="document.getElementsByTagName('form')[{{loop.index0}}].submit()"></i>
                </form>
            </div>
        </div>
        {% else %}
        <div class="alert alert-warning text-center">
            <h3>Looks like your cart is empty.</h3>
            <a href="/store">&larr; Continue Shopping</a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block styles %}
<style>
    .cart-item {
        background: #fff !important;
        border: 1px solid #e0e0e0;
        margin-top: 1em !important;
        border-radius: 0.25em;
        padding: 1em 2em;
        box-shadow: 2px 2px 5px 0px #e0e0e0;
    }
</style>
{% endblock %}